.search-result-page{
    padding-top: 100px;
}

.search-result{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 2rem;
    justify-content: center;
}

.noresult{
    height: 30rem;
}